@(message: String) 

@main(message) { 

  <div id="container">
  <div>
    <h1>@message</h1>
  </div>
  
  <div id="gameField">
   <table id="grid">
     <tr>
       <td class="wall"></td>
       <td class="wall"></td>
       <td class="wall"></td>
     </tr>
     <tr>
        <td class="wall"></td>
        <td>&nbsp;</td>
        <td class="wall"></td>
      </tr>
      <tr>
        <td class="wall"></td>
        <td>&nbsp;</td>
        <td class="wall"></td>
      </tr>
      <tr>
        <td class="wall"></td>
        <td class="wall"></td>
        <td class="wall" ></td>
      </tr>
   </table>
  </div>
  
  <div id="gameData">
    <table id="gState">
      <tr>
        <td>Current player:</td>
        <td class="scnd" id="cPlayer">0</td>
      </tr>
      <tr>
        <td>Current lifes: </td>
        <td class="scnd" id="cLifes">0</td>
      </tr>
      <tr>
        <td>Current coins: </td>
        <td class="scnd" id="cCoins">0</td>
      </tr>
      <tr>
        <td>Score: </td>
        <td class="scnd" id="cScore">0</td>
      </tr>
      <tr>
        <td>ZombieKiller: </td>
        <td class="scnd" id="cZKiller">NO</td>
      </tr>
      <tr id="bottom" >
        <td >Moves remaining: </td>
        <td class="scnd" id="cMoves">0</td>
      </tr>
    </table>
  </div>
  <div id="clear"></div>
  
  <script src="/assets/javascripts/myKeyHandler.js"></script>
  <input style="margin-left: 3em; margin-top: 1em;" onkeypress="javascript:return false;" id="userInput" onkeydown="javascript:return handleKeyEvent(event);" type="text" name="userInput"></input>
	
	<div id="clear"></div>
		
  <script src="/assets/javascripts/myJsonParser.js"></script>
  
  <div id="footer">
    <b>Game message:</b>
    <span id="message1">New Game</span>
  </div>
  </div>
}