@(message: String) 

@main(message) { 

  <div id="container">
  <div>
    <h1>@message</h1>
  </div>
  
  <div id="gameField">
   <table id="grid">
   </table>
  </div>
  
  <div id="rightBox">
	  <div id="gameInfo">
		  <div id="gameData" style="visibility: hidden;">
	      <table id="gState">
          <tr>
            <td >Moves remaining: </td>
            <td class="scnd" id="cMoves"></td>
          </tr>
		      <tr id="bottom">
		        <td>Current player:</td>
		        <td class="scnd" id="cPlayer"></td>
		      </tr>
		    </table>
		  </div>
		  
		  <div id="dividerH"></div>
		  
		  <div id="gameControl">
		    <table>
		      <tr id="">
		        <th colspan="2">Commands:</th>
		      </tr>
		      <tr>
		        <td>Move:</td>
		        <td class="scnd" style="background-image: URL(/assets/images/arrow_keys.png)" width="100%"></td>
		      </tr>
	        <tr>
	          <td>Switch Token:</td>
	          <td class="scnd">&lt;tab&gt;</td>
	        </tr>
	        <tr>
	          <td>Next Player:</td>
	          <td class="scnd">&lt;return&gt;</td>
	        </tr>
	        <tr>
	          <td>Next Game:</td>
	          <td class="scnd">&lt;n&gt;</td>
	        </tr>
	        <tr>
	          <td>Restart Game:</td>
	          <td class="scnd">&lt;r&gt;</td>
	        </tr>
	        <tr>
	          <td>Quit:</td>
	          <td class="scnd">&lt;q&gt;</td>
	        </tr>
		    </table>
		  </div>
	  </div>
	  
	  <div id="dividerV"></div>
	  
	  <div id="logger">
	     <p>Log:</p>
	     <textarea id="log" readonly="readonly" wrap="soft"></textarea>
	  </div>
	</div>
  <div id="clear"></div>
  
  <input onkeypress="javascript:return false;" onkeydown="javascript:return handleKeyEvent(event);" type="text" id="userInput" name="userInput"></input>
	
	<div id="clear"></div>
  
  <div id="footer">
    <b>Game message:</b>
    <span id="message1">Welcome to TacZombie</span>
  </div>
  </div>
}